@import "../../styles/variables.scss";

.themes {
    display: flex;

    &__item {
        background-color: $color-primary;
        color: $color-text-primary;
        margin-right: 8px;
        border: none;
        border-radius: $border-radius;
        padding: $general-padding;
        padding-top: 60px;
        min-width: 120px;
        text-align: left;
        font-size: 16px;
        cursor: pointer;
    }
}
