@import "mixin";

$app-padding: 20px;
$general-padding: 10px;
$container-max-width: 600px;
$border-radius: 4px;
$color-primary: #03a9f4;
$color-text-primary: #fff;
$color-danger: #f44336;
$color-success: #4caf50;

body {
    background-color: #e8e8e8;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    color: #212121;
}

.about {
    text-align: center;
}

.error {
    text-align: center;

    &__button {
        background-color: $color-primary;
        border: none;
        border-radius: $border-radius;
        padding: $general-padding;
        cursor: pointer;
        color: $color-text-primary;
    }
}

.navigation-drawer {
    position: fixed;
    top: 0;
    left: -300;
    // display: none;
    height: 100vh;
    width: 260px;
    background-color: #fff;
    @include box-shadow(5);
    transition: 0.25s ease-in-out;

    &--open {
        // display: block;
        left: 0;
    }

    &__head {
        height: 46px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: $general-padding;

        &__button {
            background-color: transparent;
            border: none;
            cursor: pointer;
            &:focus {
                outline: none;
            }
        }
    }

    &__menu {
        margin-top: 16px;
        padding: 0 $general-padding;

        &__item {
            display: block;
            width: 100%;
            background-color: transparent;
            border: none;
            display: flex;
            align-items: center;
            padding: $general-padding;
            cursor: pointer;

            i {
                margin-right: $general-padding;
            }
            &:hover {
                background-color: rgba(0, 0, 0, 0.08);
            }
            &:focus {
                outline: none;
            }
        }
    }
}

.app-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    background-color: $color-primary;
    color: $color-text-primary;
    @include box-shadow(2);

    &__container {
        height: 40px;
        display: flex;
        align-items: center;
        margin: 0 auto;
        padding: 10px $app-padding;
        max-width: $container-max-width;
    }

    &__brand {
        flex: 1;
        padding-left: $general-padding;
    }

    &__action {
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: $color-text-primary;
        border-radius: $border-radius;

        &:focus {
            outline: none;
        }
        &:hover {
            background-color: rgba(0, 0, 0, 0.08);
        }

        &--rotation {
            &:hover {
                background-color: rgba(0, 0, 0, 0);
            }
            @include rotation();
        }

        &--danger {
            color: $color-danger;
        }
    }
}

.container {
    margin: 0 auto;
    padding: 100px $app-padding 100px $app-padding;
    max-width: $container-max-width;
}

.new-note {
    background-color: #fff;
    padding: 10px 12px;
    border-radius: $border-radius;
    @include box-shadow(1);

    &__input {
        width: 100%;
        border: none;

        &:focus {
            outline: none;
        }
    }
}

.note-list {
    margin: 40px 0;
}

.note {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 10px 12px;
    border-radius: $border-radius;
    @include box-shadow(1);

    &__text {
        flex: 1;
    }

    &__input {
        flex: 1;
        border-top: 0;
        border-right: 0;
        border-left: 0;
        border-bottom: 1px solid #c7c7c7;
    }

    &__button {
        background-color: transparent;
        border: 0;
        cursor: pointer;

        &--hidden {
            visibility: hidden;
        }

        &--red {
            color: $color-danger;
        }
        &--green {
            color: $color-success;
        }
    }
}
